@font-face{
	font-family:'Revamped';
	src: url('Revamped.odt');
}


body{
	background-color: black;
	margin: 0;
}

header{
	background-color:black;
	height: 90px;
	border-bottom: 1px solid white;
}

h1, h3{
	display: flex;
	justify-content:center;
	color:rgb(14, 8, 8);
} 

.apollo{
	font-family:'Revamped';
	font-size: 50px;
	margin-bottom: 0;
	display: flex;
	justify-content:center;
	color:white;
}
.slogan{
	font-family: 'Avantgarde';
	font-style: italic;
	margin-top: 0;
	display: flex;
	justify-content:center;
	color:white;
}

h1{
	font-size: 20px;
}
h3{
	font-size: 15px;
}
p{
	color:white;
	text-align: center; 
	color:rgb(6, 14, 82);
}


.conteneur{
	position:absolute;
	display: flex;
	flex-direction: row;
	flex-wrap:wrap;
	justify-content: center;
	justify-content: space-evenly;
	width:100%;
	z-index:0;   
	margin-top: 24px;
}


.animation{
	position :relative;
	background: url(spaceGif.gif)no-repeat center center;   
	width:400px;
	height:500px;
	border: 4px solid black;
	border-radius: 8px;
}

/* zone contenant la toolobox et la zone de dépot des blocks */
.zone2{ 
	background-color:black ;
	width:60%;
	height:500px;
	border-radius: 8px;
	display:grid;

    grid-template: "gestion menu" 65%  
                 "gestion compil" 35%
				 /65% 35%;
	
}
menu{
    background-color: rgb(255, 255, 255);
	/*grid-area: menu;*/
	display: flex;
	flex-flow: column;
	margin:5px;
	padding: 2px;
	margin-top: 0;
	border-radius: 8px;
}

/* zone de dépot des blocks */
.zone{
    background-color: rgb(255, 255, 255); 
	grid-area:gestion;
	border-radius: 8px;
}

.zonedepot{
    width: auto;
    height:300px;
    padding: 10px;
    position:relative;/*sert de base pour positionner les balises*/
    overflow : auto;/*ajoute une bare de scroll quand les balises dépassent la taille de la zone*/
}

/* pour la zone "Compilateur Réinitialiser Gomme" */
.comp{
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
    background-color:rgb(255, 255, 255);
	margin: 0px 5px;
	border-radius: 8px;
}

.balise{
	width:auto;
	padding: 15px;
  }
  
.depose{
    border:1px solid black;
    height:45px;
	width:200px;
	position:absolute;/*affichage aux coordonnées par rapport au parent déclaré relative, ici la zone de dépot*/
	margin:0px;/*annule le margin du type button*/
}
  
  .delete{
    width:125px;
    border:1px solid black;
    /*height:45px; pour que les blocks se fusionnent une fois dans la zone de dépôt */
  }
  
  .tenu{
    border: 2px dashed black;
  }
  
  .appuyee{
    border: 4px solid grey;
  }

.Zone3{
	background-color: rgb(149, 185, 240); 
	width:40%;
	height:500px;
}

#fusee{
	display:block;
	width:40px;
	position:absolute;
	z-index:2;
	left:180px;/*coordonnées*/
	top:430px;
	animation: move 3s 2ms 1 linear ;

}

#meteorite{
	width:80px;
	height:90px;
	position:absolute;
	z-index:1;	
	left:150px;/*coordonées*/
	top:90px;
}

/* styliser les blocks d'instructions */
button{ 
	border-radius:12px 0 12px 0; 
	background: #3780b5;
	border: 1px solid white;
	color:#fff;
	font-weight: bold;
	font-family: Geneva, Tahoma, sans-serif; 
	font-size: 0.9rem;
	padding:0.8rem 0 0.8rem 0;
	margin: 0.6rem 0.6rem  0 0;
}
/* organiser les élements de la toolbox (les blocks draggable) */
.toolbox{
	display: flex;
	flex-flow: column;
	align-items: center;
}

input{
	/* relatif à l'écriture */
	color:#fff;
	font-family: Courier, monospace;
	font:bold 15px;


	/* relatif à la "box" */
	border-radius: 10px;
	background:#191658;
	width:120px;
	border: 2px solid white;
	padding: 10px;
	display: flex;
	justify-content: center;
}

/* Partie Popup */

#popup {
	/* flouter le background*/

	background-color: rgba(0, 0, 0, 0.7); 
	top: 0; 
	width: 100%;
	height: 100%;
	/* pour que le popup s'affiche au premier plan*/
	position: absolute; 
	/* pour pouvoir centrer le popup dans la page */
	display: flex;	
	justify-content: center;
	align-items: center;

}


.popup-content{
	/* pour placer les élements au sein du rectangle blanc */
	display: flex;
	justify-content: center;
	flex-direction: column;
	top: -400px;
	animation: drop 1s ease forwards;

	/* styliser le rectangle du popup */
	width: 400px;
	background-color: rgb(77, 79, 187); 
	padding:10px;
	position: absolute;
	border: 10px solid rgb(255, 255, 255);

	/* style du texte */
	font-family: 'MS Sans Serif', Geneva, serif;
	line-height: 150%;
	font-size: 20px;	
	
	
} 

#cross{
	color: rgb(236, 236, 236);
	font-size: 20px;
	margin-left: 70%;
	margin-top:	30px;
	display: flex;
	justify-content: center;
	align-items: center;
	text-decoration: none;
	
}
#cross:hover{
	border-bottom: 1px solid white;
	background: #a0d6fa;
	color: black;
	border-radius: 15px;
	border: 3px solid rgb(255, 255, 255);
}

.popup-content > p  {
	color: rgb(255, 255, 255);
	line-height: 1.8em;
	margin:0
}

/* animation du popup qui glisse vers le bas */
@keyframes drop{
	0%{opacity: 0} 
	70%{ transform: translateY(650px)}
	100%{ transform: translateY(50px)}
}
