body{
	background-color:black;
}

header{
	width:100%;
	background-color:grey;
}

h1, h3{
	display: flex;
	justify-content: flex-start;
	color:white;
}

h1{
	font-size: 20px;
}
h3{
	font-size: 15px;
}
p{
	color:white;
}

canvas{
	border: 1px solid black;
	width:600px;
	height:600px;
	background-color: lightgrey;
	margin-top:60px;
}

