body{
	background-color:rgb(25, 71, 65);
}

header{
	width:100%;
	background-color:grey;
}

h1, h3{
	display: flex;
	justify-content: flex-start;
	color:white;
}

h1{
	font-size: 20px;
}
h3{
	font-size: 15px;
}
p{
	color:white;
}
#endScreen {
	
 }

.conteneur{
	display: flex;
	flex-direction: row;
	flex-wrap:wrap;
	width:100%;
}

.commande{
	display=flex;
	flex-direction:row;
	flex-wrap:wrap;
	width:50%;
}
#fusee{
	cursor=crosshair ;
	background: url(https://diapogram.com/upload/2019/04/18/20190418004741-3065510b.jpg) no-repeat center center; 
	border: solid white;
	width:10%;
	height:500px;

}

.zone2{
	background-color: rgb(31, 54, 88) ;
	border: solid white ;
	width:40%;
	height:500px;


	
}

.Zone3{
	background-color: rgb(149, 185, 240); 
	border: solid white ;
	width:500px;
	height:500px;
}
