body{
	background-color:rgb(25, 71, 65);
}

header{
	width:100%;
	background-color:grey;
}

h1, h3{
	display: flex;
	justify-content: flex-start;
	color:white;
}

h1{
	font-size: 20px;
}
h3{
	font-size: 15px;
}
p{
	color:white;
}
#endScreen {
	
 }
#fusee{
	cursor=crosshair ;
	background: url(https://diapogram.com/upload/2019/04/18/20190418004741-3065510b.jpg) no-repeat center center; 
	border:5px solid white;
	width:500px;
	height:500px;
	margin-top:20px;
	display:flex;
	justify-content: flex-end;
}
.zone2{
	background-color: rgb(31, 54, 88) ;
	border:5px solid white ;
	width:300px;
	height:500px;
	margin-top:20px;
	display: flex;
	align-item: center;
}

.Zone3{
	background-color: rgb(149, 185, 240); 
	border:5px solid white ;
	width:400px;
	height:500px;
	margin-top:20px;
}

