body{
	background-color:rgb(25, 71, 65);
}

header{
	width:100%;
	background-color:grey;
}

h1, h3{
	display: flex;
	justify-content: flex-start;
	color:white;
}

h1{
	font-size: 20px;
}
h3{
	font-size: 15px;
}
p{
	color:white;
}
#endScreen {
	
 }

.conteneur{
	display: flex;
	flex-direction: row;
	flex-wrap:wrap;
	width:100%;
}

#fusee{
	cursor=crosshair ;
	background: url(https://diapogram.com/upload/2019/04/18/20190418004741-3065510b.jpg) no-repeat center center; 
	width:400px;
	height:500px;

}

.commande{
	display:flex;
	width:60%;
	height:500px;
	flex-direction:row;
	flex-wrap:wrap;
}
.zone2{
	background-color: rgb(31, 54, 88) ;
	width:20%;
	height:500px;
	
}

.Zone3{
	background-color: rgb(149, 185, 240); 
	width:40%;
	height:500px;
}
