.grid{/*c'est les différentes cases representer les zone que on devra faire merci a mae*/
  display:grid;
  grid-template: "interface gestion menu" 400px
                 "interface gestion compil" 100px

                 /3fr 1fr
  }


/*zone ou on posera les balises (avec  drag and drop)*/
zone{
  background-color: grey;
  grid-area: gestion;
  margin:5px;
}

/*interface à faire pour sarah et doha*/
interface{
  background-color: grey;
  margin:5px;
  background-image: url("espace.jpg");
  background-size: 69%;
  background-repeat: no-repeat;
  background-position: center;
  grid-area: interface;

}

.position{/*positionnement de la fusée et de l'endroit ou la fusée doit aller sarah puisque tu t'en occupe tu peu tout changer c'est juste un exemple*/
  display: block;
  margin: 190px 100px 0px;
}

menu{/*zone ou les balises seront presente*/
  background-color: blue;
  grid-area: menu;
  margin:5px;
}

comp{/*zone ou on compilera le programme*/
  background-color: black;
  grid-area: compil;
  margin:5px;
  padding:20%;

}
