@font-face{
	font-family:'Revamped';
	src: url('Revamped.odt');
}


body{
	background-color:#a2c0f7;
	margin: 0;
}

header{
	background-color: #a2c0f7;
	height: 90px;
	border-bottom: 1px solid white;
}

h1, h3{
	display: flex;
	justify-content:center;
	color:rgb(14, 8, 8);
}

.apollo{
	font-family:'Revamped';
	font-size: 50px;
	margin-bottom: 0;
	display: flex;
	justify-content:center;
	color:black;
}
.slogan{
	font-family: 'Avantgarde';
	font-style: italic;
	margin-top: 0;
	display: flex;
	justify-content:center;
	color:black;
}

h1{
	font-size: 20px;
}
h3{
	font-size: 15px;
}
p{
	color:white;
	text-align: center;
	color:rgb(6, 14, 82);
}


.conteneur{
	position:absolute;
	display: flex;
	flex-direction: row;
	flex-wrap:wrap;
	justify-content: center;
	justify-content: space-evenly;
	width:100%;
	margin-top: 24px;
}


.animation{
	position :relative;
	background: url(spaceGif.gif)no-repeat center center;
	width:400px;
	height:500px;
	/* border: 4px solid black; */
	border-radius: 8px;
}

/* zone contenant la toolobox et la zone de dépot des blocks */
.zone2{
	/* background-color:black ; */
	width:60%;
	height:500px;
	border-radius: 8px;
	display:grid;

    grid-template: "gestion menu" 65%
                 "gestion compil" 35%
				 /65% 35%;

}
menu{
    background-color: rgb(255, 255, 255);
	/*grid-area: menu;*/
	display: flex;
	flex-flow: column;
	margin:5px;
	padding: 2px;
	margin-top: 0;
	border-radius: 8px;
}
/* balise hr dans le html, utilisé par */
.depart{
	color:#a2c0f7;
	size: 10px;
}
/* zone de dépot des blocks */
.zone{
    background-color: rgb(255, 255, 255);
	grid-area:gestion;
	border-radius: 8px;
}

.zonedepot{
    width: auto;
    height:300px;
    padding: 10px;
    position:relative;/*sert de base pour positionner les balises*/
    overflow : auto;/*ajoute une bare de scroll quand les balises dépassent la taille de la zone*/
}

/* pour la zone "Compilateur Réinitialiser Gomme" */
.comp{
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
    background-color:rgb(255, 255, 255);
	margin: 0px 5px;
	border-radius: 8px;
}

/* .balise{
	width:auto;
	padding: 15px;
} */

.depose{
    border:1px solid black;
    height:auto;
	width:200px;
	position:absolute;/*affichage aux coordonnées par rapport au parent déclaré relative, ici la zone de dépot*/
	margin:0px;/*annule le margin du type button*/
}

  .delete{
    width:125px;
    border:1px solid black;
    /*height:45px; pour que les blocks se fusionnent une fois dans la zone de dépôt */
  }

  .tenu{
    border: 2px dashed black;
  }

  .appuyee{
    border: 4px solid grey;
  }

.Zone3{
	background-color: rgb(149, 185, 240);
	width:40%;
	height:500px;
}


/* Popup1 */

/* styliser les blocks d'instructions */
button{
	border-radius:30px;
	background: #3780b5;
	border: 1px solid white;
	color:#fff;
	font-weight: bold;
	font-family: Geneva, Tahoma, sans-serif;
	font-size: 0.9rem;
	width:auto;
	padding: 15px;
	position:relative;
}

.tooltip{
	position: absolute;
	font-size: 0.4 em;
	bottom: 0;
	left: 0;
	z-index: 4;
	color: white;
	transform: translateY(100%);	/* pour le positionner en bas du block */
	opacity: 0; 	/* pour rendre invisible le tooltip lorsqu'il n'y a pas de survol d'un block*/
	transition: opacity 200ms 0.8s; 	/* delay de O.8s pour que cela ne s'affiche pas directement au survol*/
	background-color: #191658;
	padding: 0.4em;
	border-radius: 10%;
}

/* Pour afficher le tooltip au survol d'un block */
button:hover .tooltip{
	opacity: 1;
	transform: translateY(105%);  /* permet d'avoir un effet plus naturel de déroulement vers le bas*/
}


/* organiser les élements de la toolbox (les blocks draggable) */
.toolbox{
	display: flex;
	flex-flow: column;
	align-items: center;
}

input{
	/* relatif à l'écriture */
	color:#fff;
	font-family: Courier, monospace;
	font:bold 15px;


	/* relatif à la "box" */
	border-radius: 10px;
	background:#191658;
	width:120px;
	border: 2px solid white;
	padding: 10px;
	display: flex;
	justify-content: center;
}

/* Partie Popup */

#popup {
	/* flouter le background*/

	background-color: rgba(0, 0, 0, 0.7);
	top: 0;
	width: 100%;
	height: 100%;
	/* pour que le popup s'affiche au premier plan*/
	position: absolute;
	/* pour pouvoir centrer le popup dans la page */
	display: flex;
	justify-content: center;
	align-items: center;

}

.popup-content{
	z-index:3;
	/* pour placer les élements au sein du rectangle blanc */
	display: flex;
    justify-content: center;
	flex-direction: column;

	/* styliser le rectangle du popup */
    width: 400px;
    background-color: rgb(5, 6, 68);
    padding: 50;
	position: absolute;
    /* border-radius: 20px; */
	border: 10px solid rgb(255, 255, 255);
	/* style du texte */
    font-family: 'MS Sans Serif', Geneva, serif;
    line-height: 150%;
    font-size: 20px;
    top: -400px;
    animation: drop 1s ease forwards;
}
/* animation pour le popup qui "tombe" à l'arrivée sur la page web */
@keyframes drop{
	0%{opacity: 0}
	70%{ transform: translateY(650px)}
	100%{ transform: translateY(600px)}
}
.popup-content > p  {
	color: rgb(255, 255, 255);
	line-height: 1.8em;
	margin:0
}
/* style de l'élément "Let's go" sur le popup */
#cross{
	color: rgb(236, 236, 236);
	font-size: 20px;
	margin-left: 70%;
	margin-top:	30px;
	display: flex;
	justify-content: center;
	align-items: center;
	text-decoration: none;
}
#cross:hover{
	border-bottom: 1px solid white;
	background: #a0cbe7;
	color: black;
	border-radius: 15px;
}
/* Popup1 */

.aide{
	position: absolute;
	top:7%;
	left:90%;
	transform:translate(-10%,-90%);
}
.popup1{
	position: absolute;
	top: -150%;
	left: 65%;
	width:350px;
	height:400px;
	padding:30px 20px;
	background: #9c8b98;
	border-radius:10px;
	box-sizing:border-box;
	z-index:3;
	text-align:center;
	opacity:0;


}
.popup1.active {
	opacity:1;
	top:50%;
	transform:translate(-50%,-50%) scale(1);
	transition: transform 300ms cubic-bezier(0.18,0.89,0.43,1.19);
}
.popup1 .title{
	margin:5px 0px;
	font-size:20px;
	font-weight:600;
}
.popup1 .indication{
	color:#222;
	font-size:15px;
	padding:5px
}
.popup1 .dismiss-btn button{
	padding:10px;
	background:#111;
	color:#f5f5f5;
	border: 2px solid #111;
	font-size:16px;
	font-weight:600;
	outline:none;
	border: radius 10px;
	transition: all 300ms ease-in-out;
	cursor:pointer;
}
.popup1 .dismiss-btn button:hover{
	color:#111;
	background: #f5f5f5;

}

.popup1.active > div {
	top:0px;
	opacity:1;
}

.popup1.active .title {
	transition: all 300ms ease-in-out 300ms;
}
.popup1.active .description {
	transition: all 300ms ease-in-out 350ms;
}
.popup1.active .dismiss-btn {
	transition: all 300ms ease-in-out 400ms;
}
#fusee{
	width:40px;
	height:70px;
	position:absolute;
	z-index:2;
	transition: 1s linear 0.5s;
}

#arrivee{
	width:40px;
	height:50px;
	position:absolute;
	z-index:1;
	transition: 1s linear 0.5s;
}

/* partie responsive */
@media screen and (max-width: 1000px){
	.zone2{
		margin-top: 20px;
	}
}

@media screen and (max-width: 720px){
	.zone2{
		width: 60%;
		height: 500px;
		border-radius: 8px;
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: 1fr 1fr;
		grid-template-areas:
			"menu compil"
			"depot depot"
	}
	.zone{
		background-color: rgb(255, 255, 255);
		grid-area:depot;
		border-radius: 8px;
	}
	.menu{
		background-color: rgb(255, 255, 255);
		grid-area: menu;
	}
	.comp{
		background-color: rgb(255, 255, 255);
		padding: 2px;
		margin: 5px;
		margin-top:0px;
		border-radius: 8px;
		grid-area: compil;
	}
}
