body{
	background-color:rgb(25, 71, 65);
}

header{
	width:100%;
	background-color:grey;
}

h1, h3{
	display: flex;
	justify-content: flex-start;
	color:white;
}

h1{
	font-size: 20px;
}
h3{
	font-size: 15px;
}
p{
	color:white;
}


.conteneur{
	display: flex;
	flex-direction: row;
	flex-wrap:wrap;
	width:100%;
}

.animation{
	/*cursor=crosshair ;*/
	background: url(https://diapogram.com/upload/2019/04/18/20190418004741-3065510b.jpg)no-repeat center center;
	width:400px;
	height:500px;

}



.commande{
	display:flex;
	width:60%;
	height:500px;
	flex-direction:row;
	flex-wrap:wrap;
}
.zone2{
	background-color: rgb(31, 54, 88) ;
	width:20%;
	height:500px;

}

.Zone3{
	background-color: rgb(149, 185, 240);
	width:40%;
	height:500px;
}

#fusee{
	width:50px;
	height:50px;
	position:relative;
	left:45%;/*coordonnées*/
	bottom: -400;
	top : 400;
	animation: move 3s 2ms 1 linear ;/*remplacer 1 par infinite et cliquer plusieurs fois sur le bouton avancer pour voir se que sa fait */

}
@keyframes move {
  from {top: 400;}
  to {avancer;}
}

#meteorite{
	width:80px;
	height:90px;
	position:relative;
	left:28%;/*coordonées*/
	top:90px;
}
